<configuration>

    <appender class="ch.qos.logback.core.ConsoleAppender" name="CONSOLE">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Console appender configuration -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} [ %X{traceId},%X{spanId}] %-5level [%thread] %logger{36} - %msg %n"/>

    <!-- Log level configuration -->
    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>